@keyframes shake {
    0% {
        transform: translate(0, 0);
    }

    10% {
        transform: translate(-5px, 0);
    }

    20% {
        transform: translate(5px, 0);
    }

    30% {
        transform: translate(-5px, 0);
    }

    40% {
        transform: translate(5px, 0);
    }

    50% {
        transform: translate(-5px, 0);
    }

    60% {
        transform: translate(5px, 0);
    }

    70% {
        transform: translate(-5px, 0);
    }

    80% {
        transform: translate(5px, 0);
    }

    90% {
        transform: translate(-5px, 0);
    }

    100% {
        transform: translate(0, 0);
    }
}

.shake {
    animation: shake 0.5s cubic-bezier(.36, .07, .19, .97) both;
}

.damage-number {
    animation: fadeUp 1.5s ease-out;
    font-family: "Roboto", sans-serif;
    pointer-events: none;
}

@keyframes fadeUp {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-50px);
    }
}